@use '@/styles/variables/colors/semantics' as semantics;
@use '@/styles/variables/typography/weights' as weights;
@use '@/styles/mixins/media.mixins' as mediaMixins;
@use '@/styles/mixins/utility.mixins' as utilityMixins;

$text-color-map:(
  'brand': semantics.$text-brand,
  'primary': semantics.$text-primary,
  'secondary': semantics.$text-secondary,
  'tertiary': semantics.$text-tertiary,
  'black': semantics.$text-black,
  'white': semantics.$text-white,
  'inherit': inherit,
);

/* Text Color Classes */
@include utilityMixins.create-utilities('text-color', 'color', $text-color-map);

/* Font weight overrides */
@include utilityMixins.create-utilities('text-fw', 'font-weight', weights.$font-weight-map);

/* Responsive text align utilities */
$text-align-utilities: (
  left: left,
  center: center,
  right: right,
);

@include utilityMixins.create-responsive-utilities('ta', 'text-align', $text-align-utilities);

@mixin text-clamp-utility($line-count) {
  display: -webkit-box;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-count;
}

@mixin create-text-clamp-utilities($prefix: 'text-clamp') {
  @for $line-count from 1 through 6 {
    .#{$prefix}-#{$line-count} {
      @include text-clamp-utility($line-count);
    }
  }

  @each $breakpoint in (xs, md, lg) {
    @include mediaMixins.media-query-up($breakpoint) {
      @for $line-count from 1 through 6 {
        .#{$prefix}-#{$breakpoint}-#{$line-count} {
          @include text-clamp-utility($line-count);
        }
      }
    }
  }
}

@include create-text-clamp-utilities();
