@use '@/styles/mixins/media.mixins' as mediaMixins;

@mixin text-clamp-utility($line-count) {
  display: -webkit-box;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-count;
}

@mixin create-text-clamp-utilities($prefix: 'text-clamp') {
  @for $line-count from 1 through 6 {
    .#{$prefix}-#{$line-count} {
      @include text-clamp-utility($line-count);
    }
  }

  @each $breakpoint in (xs, md, lg) {
    @include mediaMixins.media-query-up($breakpoint) {
      @for $line-count from 1 through 6 {
        .#{$prefix}-#{$breakpoint}-#{$line-count} {
          @include text-clamp-utility($line-count);
        }
      }
    }
  }
}

@include create-text-clamp-utilities();
