# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# next.js
.next
next-env.d.ts

# env files
.env*
!.env.example

# testing
coverage

# debug
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# storybook
storybook-static
*storybook.log

# misc
.DS_Store
*.pem
*.local
.idea

# prevent npm & yarn output while using pnpm
package-lock.json
yarn.lock
