$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$font-weight-map: (
  'light': $font-weight-light,
  'regular': $font-weight-regular,
  'semi-bold': $font-weight-semi-bold,
  'bold': $font-weight-bold,
);
