$primitives: (
  'brand':(
    '50': #eef0ff,
    '100':#d5daff,
    '200':#adb9ff,
    '300':#879cff,
    '400':#5f81ff,
    '500':#2366ff,
    '600':#0051db,
    '700':#0040af,
    '800':#002f87,
    '900':#001b55,
    '950':#000d35,
  ),
  'purple':(
    '50': #faf5ff,
    '100':#f3e8ff,
    '200':#e9d5ff,
    '300':#d8b4fe,
    '400':#c084fc,
    '500':#a855f7,
    '600':#9333ea,
    '700':#7e22ce,
    '800':#6b21a8,
    '900':#581c87,
    '950':#3b0764,
  ),
  'red':(
    '50': #fef2f2,
    '100':#fee2e2,
    '200':#fecaca,
    '300':#fca5a5,
    '400':#f87171,
    '500':#ef4444,
    '600':#dc2626,
    '700':#b91c1c,
    '800':#991b1b,
    '900':#7f1d1d,
    '950':#450a0a,
  ),
  'orange':(
    '50': #fff7ed,
    '100':#ffedd5,
    '200':#fed7aa,
    '300':#fdba74,
    '400':#fb923c,
    '500':#f97316,
    '600':#ea580c,
    '700':#c2410c,
    '800':#9a3412,
    '900':#7c2d12,
    '950':#431407,
  ),
  'green':(
    '50': #f0fdf4,
    '100':#dcfce7,
    '200':#bbf7d0,
    '300':#86efac,
    '400':#4ade80,
    '500':#22c55e,
    '600':#16a34a,
    '700':#15803d,
    '800':#166534,
    '900':#14532d,
    '950':#052e16,
  ),
  'blue':(
    '50': #eff6ff,
    '100':#dbeafe,
    '200':#bfdbfe,
    '300':#93c5fd,
    '400':#60a5fa,
    '500':#3b82f6,
    '600':#2563eb,
    '700':#1d4ed8,
    '800':#1e40af,
    '900':#1e3a8a,
    '950':#172554,
  ),
  'slate':(
    '50': #f8fafc,
    '100':#f1f5f9,
    '200':#e2e8f0,
    '300':#cbd5e1,
    '400':#94a3b8,
    '500':#64748b,
    '600':#475569,
    '700':#334155,
    '800':#1e293b,
    '900':#0f172a,
    '950':#020617,
  ),
  'neutral':(
    'white': #ffffff,
    '50': #fafafa,
    '100':#f5f5f5,
    '200':#e5e5e5,
    '300':#d4d4d4,
    '400':#a3a3a3,
    '500':#737373,
    '600':#525252,
    '700':#404040,
    '800':#262626,
    '900':#171717,
    '950':#0a0a0a,
    'black': #000000,
  ),
  'alpha-dark':(
    '0': rgb(26, 26, 26, 0),
    '50':rgb(26, 26, 26, 0.06),
    '100':rgb(26, 26, 26, 0.09),
    '200':rgb(26, 26, 26, 0.2),
    '300':rgb(26, 26, 26, 0.28),
    '400':rgb(26, 26, 26, 0.36),
    '500':rgb(26, 26, 26, 0.48),
    '600':rgb(26, 26, 26, 0.6),
    '700':rgb(26, 26, 26, 0.7),
    '800':rgb(26, 26, 26, 0.8),
    '900':rgb(26, 26, 26, 0.9),
  ),
  'alpha-light': (
    '0': rgb(255, 255, 255, 0),
    '50':rgb(255, 255, 255, 0.06),
    '100':rgb(255, 255, 255, 0.09),
    '200':rgb(255, 255, 255, 0.2),
    '300':rgb(255, 255, 255, 0.28),
    '400':rgb(255, 255, 255, 0.36),
    '500':rgb(255, 255, 255, 0.48),
    '600':rgb(255, 255, 255, 0.6),
    '700':rgb(255, 255, 255, 0.7),
    '800':rgb(255, 255, 255, 0.8),
    '900':rgb(255, 255, 255, 0.9),
  ),
);
