@use 'sass:map';
@use '@/styles/functions/color.funcs' as colorFuncs;

$text-black: colorFuncs.get-primitive('neutral', '950');
$text-primary: colorFuncs.get-primitive('slate', '900');
$text-secondary: colorFuncs.get-primitive('slate', '700');
$text-tertiary: colorFuncs.get-primitive('slate', '500');
$text-brand: colorFuncs.get-primitive('brand', '800');
$text-brand-hover: colorFuncs.get-primitive('brand', '700');
$text-white: colorFuncs.get-primitive('neutral', 'white');
$text-blue: colorFuncs.get-primitive('brand', '500');
$text-green: colorFuncs.get-primitive('green', '900');
$text-purple: colorFuncs.get-primitive('purple', '900');
$text-red: colorFuncs.get-primitive('red', '900');
$text-pink: colorFuncs.get-primitive('pink', '900');

// TODO: Finalize icon colors
$icon-primary: colorFuncs.get-primitive('slate', '900');
$icon-brand: colorFuncs.get-primitive('brand', '800');
$icon-blue: colorFuncs.get-primitive('brand', '500');
$icon-green: colorFuncs.get-primitive('green', '900');
$icon-red: colorFuncs.get-primitive('red', '900');
$icon-gray: colorFuncs.get-primitive('slate', '400');
$icon-white: colorFuncs.get-primitive('neutral', 'white');
$icon-black: colorFuncs.get-primitive('neutral', 'black');
