@use '@/styles/variables/spacers' as spacers;
@use '@/styles/variables/borders' as borders;
@use '@/styles/variables/colors/semantics' as semantics;
@use '@/styles/variables/typography/weights' as weights;
@use '@/styles/mixins/typography.mixins' as typographyMixins;

.button {
  cursor: pointer;

  display: inline-block;
  border: none;

  width: fit-content;

  transition: filter 0.2s ease, background-color 0.2s ease;

  &:disabled {
    cursor: not-allowed;
  }
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  min-width: max-content;

  > * {
    flex-shrink: 0;
    white-space: nowrap;
  }
}

/* stylelint-disable selector-class-pattern */
.size-sm {
  @include typographyMixins.create-text-variant('body-sm');

  border-radius: borders.$border-radius-sm;

  height: 2.625rem;
  padding: spacers.$spacer-12 spacers.$spacer-16;

  .content {
    gap: spacers.$spacer-6;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.size-md {
  @include typographyMixins.create-text-variant('body-sm');

  border-radius: borders.$border-radius-md;

  height: 3.125rem;
  padding: spacers.$spacer-14 spacers.$spacer-18;

  .content {
    gap: spacers.$spacer-6;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.size-lg {
  @include typographyMixins.create-text-variant('body-lg');

  border-radius: borders.$border-radius-md;

  height: 3.625rem;
  padding: spacers.$spacer-16 spacers.$spacer-20;

  .content {
    gap: spacers.$spacer-8;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
/* stylelint-enable selector-class-pattern */

.primary {
  border: 1px solid semantics.$border-brand;

  color: semantics.$text-white;
  background: semantics.$button-primary-background;

  font-weight: weights.$font-weight-bold;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

.secondary {
  border: 1px solid semantics.$border-primary;
  box-shadow: inset 0 -2px 4px 0 rgb(27, 35, 85, 0.07);

  color: semantics.$text-primary;
  background: semantics.$button-secondary-background;

  font-weight: weights.$font-weight-regular;

  &:hover {
    filter: brightness(0.95);
  }

  &:active {
    filter: brightness(0.9);
  }
}

.tertiary {
  color: semantics.$text-brand;

  font-weight: weights.$font-weight-bold;

  &:hover {
    background-color: semantics.$background-light;
  }
}

.fullWidth {
  width: 100%;
}
