@use '@/styles/variables/spacing' as spacing;
@use '@/styles/variables/borders' as borders;
@use '@/styles/variables/colors/semantics' as semantics;
@use '@/styles/variables/typography/weights' as weights;
@use '@/styles/mixins/typography.mixins' as typographyMixins;
@use '@/styles/mixins/media.mixins' as mediaMixins;

.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;

  width: fit-content;
  text-decoration: none;

  transition: filter 0.2s ease, background-color 0.2s ease, color 0.2s ease;

  &:disabled {
    cursor: not-allowed;
  }
}

.size-sm {
  @include typographyMixins.create-typography-variant('label-3');

  border-radius: borders.$border-radius-sm;

  height: 2.25rem;
  padding: spacing.$spacing-8;
}

.size-md {
  @include typographyMixins.create-typography-variant('label-2');

  border-radius: borders.$border-radius-md;

  height: 3rem;
  padding: spacing.$spacing-14 spacing.$spacing-18;
}

.size-lg {
  @include typographyMixins.create-typography-variant('label-1');

  border-radius: borders.$border-radius-md;

  height: 3.5rem;
  padding: spacing.$spacing-16 spacing.$spacing-20;
}

.rounded {
  border-radius: borders.$border-radius-full;
}

.primary {
  border: 1px solid semantics.$border-brand;

  color: semantics.$text-white;
  background: semantics.$button-primary-background;

  font-weight: weights.$font-weight-regular;

  &:active {
    filter: brightness(0.8);
  }

  &:visited {
    color: semantics.$text-white;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.secondary {
  border: 1px solid semantics.$border-primary;
  box-shadow: inset 0 -2px 4px 0 rgb(27, 35, 85, 0.07);

  color: semantics.$text-primary;
  background: semantics.$button-secondary-background;

  font-weight: weights.$font-weight-regular;

  &:active {
    filter: brightness(0.9);
  }

  &:visited {
    color: semantics.$text-primary;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover {
      filter: brightness(0.95);
    }
  }
}

.tertiary {
  color: semantics.$text-brand;

  font-weight: weights.$font-weight-bold;

  &:visited {
    color: semantics.$text-brand;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover {
      background-color: semantics.$background-light;
    }
  }
}

.link {
  color: semantics.$text-brand;
  padding-right: 0;
  padding-left: 0;

  font-weight: weights.$font-weight-bold;

  &:visited {
    color: semantics.$text-brand;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover {
      color: semantics.$text-brand-hover;
    }
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
}
