@use '@/styles/variables/spacing' as spacing;
@use '@/styles/variables/radius' as radius;
@use '@/styles/variables/colors/semantics' as semantics;
@use '@/styles/variables/typography/weights' as weights;
@use '@/styles/mixins/typography.mixins' as typographyMixins;
@use '@/styles/mixins/media.mixins' as mediaMixins;

.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  text-decoration: none;

  transition:
    filter 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  &:disabled {
    cursor: not-allowed;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

@mixin size-sm {
  @include typographyMixins.create-typography-variant('label-3');

  border-radius: radius.$radius-8;

  height: 2.25rem;
  padding: spacing.$spacing-8;
}

@mixin size-md {
  @include typographyMixins.create-typography-variant('label-2');

  border-radius: radius.$radius-16;

  height: 3rem;
  padding: spacing.$spacing-14 spacing.$spacing-18;
}

@mixin size-lg {
  @include typographyMixins.create-typography-variant('label-1');

  border-radius: radius.$radius-16;

  height: 3.5rem;
  padding: spacing.$spacing-16 spacing.$spacing-20;
}

.size-sm {
  @include size-sm;
}

.size-md {
  @include size-md;
}

.size-lg {
  @include size-lg;
}

@each $breakpoint in (xs, md, lg) {
  @include mediaMixins.media-query-up($breakpoint) {
    .size-#{$breakpoint}-sm {
      @include size-sm;
    }

    .size-#{$breakpoint}-md {
      @include size-md;
    }

    .size-#{$breakpoint}-lg {
      @include size-lg;
    }
  }
}

.primary {
  border: 1px solid semantics.$stroke-brand;

  color: semantics.$button-primary-text;
  background: semantics.$button-primary-background;

  font-weight: weights.$font-weight-regular;

  &:disabled,
  &.disabled {
    border-color: semantics.$stroke-secondary;

    color: semantics.$fg-tertiary;
    background: semantics.$bg-gray;
  }

  &:active:not(:disabled, .disabled) {
    filter: brightness(0.8);
  }

  &:visited {
    color: semantics.$button-primary-text;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover:not(:disabled, .disabled) {
      filter: brightness(0.9);
    }
  }
}

.secondary {
  border: 2px solid semantics.$stroke-brand;

  color: semantics.$button-secondary-text;
  background: semantics.$button-secondary-background;

  font-weight: weights.$font-weight-regular;

  &:disabled,
  &.disabled {
    border-color: semantics.$stroke-secondary;

    color: semantics.$fg-tertiary;
    background: semantics.$bg-gray;
  }

  &:active:not(:disabled, .disabled) {
    filter: brightness(0.9);
  }

  &:visited {
    color: semantics.$button-secondary-text;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover:not(:disabled, .disabled) {
      border-color: semantics.$stroke-brand;
      filter: brightness(0.95);
    }
  }
}

.tertiary {
  color: semantics.$button-tertiary-text;

  font-weight: weights.$font-weight-bold;

  &:disabled,
  &.disabled {
    color: semantics.$fg-tertiary;
  }

  &:visited {
    color: semantics.$button-tertiary-text;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover:not(:disabled, .disabled) {
      background-color: semantics.$button-tertiary-background-hover;
    }
  }
}

.link {
  color: semantics.$button-link-text;
  padding-right: 0;
  padding-left: 0;

  font-weight: weights.$font-weight-bold;

  &:disabled,
  &.disabled {
    color: semantics.$fg-tertiary;
  }

  &:visited {
    color: semantics.$button-link-text;
  }

  @include mediaMixins.media-query-up(lg) {
    &:hover:not(:disabled, .disabled) {
      color: semantics.$button-link-text-hover;
    }
  }
}
