$display-values: (
  block: block,
  inline-block: inline-block,
  flex: flex,
  inline-flex: inline-flex,
  grid: grid,
);

$position-values: (
  static: static,
  relative: relative,
);

$overflow-values: (
  auto: auto,
  visible: visible,
  hidden: hidden,
  scroll: scroll,
);

$width-values:(
  auto: auto,
  full: 100%,
);

$height-values:(
  auto: auto,
  full: 100%,
);

// Should be in sync with GridTemplateColumns in src/types/style/layout.types.ts
$grid-template-columns-values: (
  1: 1fr,
  2: repeat(2, 1fr),
  3: repeat(3, 1fr),
  4: repeat(4, 1fr),
  6: repeat(6, 1fr),
);
