@use '@/styles/functions/color.funcs' as colorFuncs;
@use '@/styles/variables/borders' as borders;

.outerBox {
  background-color: colorFuncs.get-primitive('green', '100');
}

.innerBox {
  border: 1.5px solid colorFuncs.get-primitive('red', '400');
  border-radius: borders.$border-radius-sm;

  color: colorFuncs.get-primitive('red', '600');
  background-color: colorFuncs.get-primitive('red', '50');

  height: var(--inner-height);
  width: var(--inner-width);
}
