name: CI

on:
  pull_request: ~

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Lint & Build
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      NEXT_PUBLIC_APP_ENV: ${{ vars.NEXT_PUBLIC_APP_ENV }}
      NEXT_PUBLIC_BASE_API_URL: ${{ vars.NEXT_PUBLIC_BASE_API_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: commencis/js-toolkit/.github/actions/setup@main

      - name: Review
        run: pnpm run ci:review

      - name: Build
        run: pnpm run build
