@use 'variables';
@use 'normalize';

html {
  font-size: 16px;
  font-family: var(--font-roboto), sans-serif;
}

body {
  color: variables.$text-color;
}

a {
  text-decoration: underline;

  &:visited {
    color: inherit;
  }
}
