*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  text-transform: none;
}

button,
input[type='button'], {
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
}

textarea {
  resize: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;

    transition-duration: 0 !important;

    animation-duration: 0 !important;
    animation-iteration-count: 1 !important;
  }
}
